<div class="main_layout">
  <header class="header">
    <div class="header__top">
      <h1 class="header__title_app">App name</h1>
    </div>
    <div class="menu_bar">
      <p-menubar [model]="items">
      </p-menubar>
    </div>
    
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <p>Paseo de la República S/N Palacio de Justicia, Cercado, Lima - Perú</p>
    <p>&copy; Copyright - 2021. Todos los derechos reservados</p>
    <p>Recomendado para Chrome, Mozilla Firefox, Microsoft Edge o versiones superiores</p>
  </footer>
</div>
