<div class="main_layout">
  <header class="header">
    <div class="header__top">
      <a href="https://www.pj.gob.pe/pj" title="Poder Judicial del Perú" target="_blank">
        <img src="assets/imgs/logo-pj-v2.png" alt="Poder Judicial del Perú - Logo" class="header__top__logo" />
      </a>
      <h1 class="header__title_app">App name</h1>
    </div>
    <div class="menu_bar">
      <p-menubar [model]="items">
      </p-menubar>
    </div>

  </header>
  <main class="main">
    <div class="main_inner">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="footer">
    <p>Paseo de la República S/N Palacio de Justicia, Cercado, Lima - Perú</p>
    <p>&copy; Copyright - 2021. Todos los derechos reservados</p>
    <p>Recomendado para Chrome, Mozilla Firefox, Microsoft Edge o versiones superiores</p>
  </footer>
</div>
