.main_layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__top {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top__logo {
  height: 50px;
}

.header__title_app {
  margin: 0;
}

.footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  padding: 1rem;
  font-size: 0.8rem;

  p {
    margin: 0;
  }
}

.header {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.main {
  flex: 1;
}

.main_inner {
  padding: 1rem;
}

::ng-deep {
  .p-menubar {
    background: var(--secondary-color);
    border-radius: 0;
    padding: 0;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
    color: var(--secondary-color-text);
  }

  .p-menubar .p-menuitem-link .p-menuitem-icon {
    color: var(--secondary-color-text) !important;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: var(--secondary-color-text);
  }

  .p-menubar .p-menubar-button:hover,
  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover {
    background: var(--secondary-color-light);
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
    border-radius: 0;
  }

  .p-menubar .p-menubar-root-list {
    background: var(--secondary-color);
  }

  .p-menubar .p-menubar-button:hover,
  .p-menubar .p-menubar-button {
    color: var(--secondary-color-text);
  }

  .p-menubar-button {
    width: 3rem !important;
    height: 3rem !important;
  }
}
