:root {
    --primary-color: #8b0000 ;
    --primary-color-text: #fff;
    --secondary-color: #455d69;
    --secondary-color-text: #fff;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}