.iframe_data_studio {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

.container_iframe {
  position: relative;
  padding-top: 57%;
}

@media only screen and (max-width: 960px) {
  .container_iframe {
    padding-top: 252%;
  }
}
